name: WebOS build
on:
  push:
  pull_request:
  workflow_dispatch:

env:
  TOOLCHAIN_URL: https://github.com/satgit62/buildroot-nc4/releases/download/webOS.0.1/arm-webos-linux-gnueabi_sdk-buildroot.tar.gz
  TOOLCHAIN_DIR: /opt/arm-webos-linux-gnueabi_sdk-buildroot
  TOOLCHAIN_ENV_FILE: /opt/arm-webos-linux-gnueabi_sdk-buildroot/environment-setup
  TOOLCHAIN_FILE: /opt/arm-webos-linux-gnueabi_sdk-buildroot/share/buildroot/toolchainfile.cmake
  QT_DIR: /opt/qt_build
  BUILD_DIR: build

  CCACHE_CACHE_DIR: .ccache-build
  CCACHE_COMPRESS: true
  CCACHE_COMPRESSLEVEL: 6
  CCACHE_MAXSIZE: 600M

  QT_VERSION: "6.8.3"

jobs:
  build_hyperhdr:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./hyperhdr-repo

    steps:
      - uses: actions/checkout@v3
        with:
          path: hyperhdr-repo
          submodules: recursive
          fetch-depth: 0

      - name: Restore/Cache build directories
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/${{ env.CCACHE_CACHE_DIR }}
          key: ccache-${{ runner.os }}-${{github.run_id}}
          restore-keys: |
            ccache-${{ runner.os }}

      - name: Restore/Cache toolchain dir
        id: cache-toolchain
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.TOOLCHAIN_DIR }}
            ${{ env.QT_DIR }}

          key: ${{ runner.os }}-${{ env.TOOLCHAIN_URL }}

      - name: Create build directories
        run: |
          mkdir -p ./${{ env.BUILD_DIR }}

      - name: Download and unpack toolchain
        if: steps.cache-toolchain.outputs.cache-hit != 'true'
        working-directory: /opt
        run: |
          wget -q -O toolchain.tar.gz ${TOOLCHAIN_URL}
          tar xf toolchain.tar.gz

      - name: Relocate toolchain
        run: |
          pushd ${TOOLCHAIN_DIR}
          ./relocate-sdk.sh
          popd

      - name: Fix toolchain (remove perl)
        run: |
          find ${TOOLCHAIN_DIR}/bin -type f -iname "perl*" -delete

      - name: Set up host QT Toolchain path
        run: |
          echo "QT_TOOLCHAIN_DIR=$TOOLCHAIN_DIR/qt6-host" >> $GITHUB_ENV
          echo "SYSROOT=$TOOLCHAIN_DIR/arm-webos-linux-gnueabi/sysroot" >> $GITHUB_ENV

      - name: Install native dependencies
        env:
          apt_deps: ccache git cmake build-essential flatbuffers-compiler
        run: |
          sudo apt update
          sudo apt install -y ${{ env.apt_deps }}

      - name: "Build QT: Core, Network and SerialPort"
        # credits to https://github.com/awawa-dev/HyperDockerBuilder/blob/6c5b3fcfee013265be3f3732db641daa2fc7988a/build.sh
        if: steps.cache-toolchain.outputs.cache-hit != 'true'
        run: |
          mkdir -p ${QT_DIR}
          git clone --branch v${QT_VERSION} https://github.com/qt/qtbase.git ${QT_DIR}/qt_source

          echo "========================== BUILDING QTBASE (HOST) ============================"
          mkdir -p ${QT_DIR}/host
          cd ${QT_DIR}/host

          ../qt_source/configure \
              -prefix $QT_TOOLCHAIN_DIR \
              -nomake tests -nomake examples \
              -no-dbus -no-gui -no-widgets -no-sql-sqlite -no-icu -no-feature-network \
              -no-opengl

          echo "----------------- BUILD (HOST) ------------------"
          cmake --build . --parallel
          cmake --install .

          echo "------------------ HOST FILES ------------------"
          ls $QT_TOOLCHAIN_DIR

          echo "========================== BUILDING QTBASE (CROSS) ============================"
          mkdir -p ${QT_DIR}/base
          cd ${QT_DIR}/base

          rm -rf ${TOOLCHAIN_DIR}/arm-webos-linux-gnueabi/sysroot/usr/local/qt6

          rm -rf ${QT_DIR}/qt_source/mkspecs/devices/linux-webos-g++
          mkdir -p ${QT_DIR}/qt_source/mkspecs/devices/linux-webos-g++

          cp -r $TOOLCHAIN_DIR/mkspecs/devices/linux-buildroot-g++ ${QT_DIR}/qt_source/mkspecs/devices/linux-webos-g++

          mv "${QT_DIR}/qt_source/src/corelib/io/forkfd_qt.c" "${QT_DIR}/qt_source/src/corelib/io/forkfd_qt.cpp"
          sed -i 's/forkfd_qt\.c/forkfd_qt.cpp/' "${QT_DIR}/qt_source/src/corelib/CMakeLists.txt"
          sed -i 's/readOnly = (statfs_buf.f_flags & ST_RDONLY) != 0;/readOnly = false;/' ${QT_DIR}/qt_source/src/corelib/io/qstorageinfo_linux.cpp

          printf '\n# --- WebOS lean build adjustments for Qt6 ---\n' >> "${TOOLCHAIN_FILE}"
          printf 'message(STATUS "Disabling RPATH for lean WebOS build")\n' >> "${TOOLCHAIN_FILE}"
          printf 'set(CMAKE_SKIP_RPATH TRUE)\n' >> "${TOOLCHAIN_FILE}"
          printf 'set(CMAKE_BUILD_WITH_INSTALL_RPATH FALSE)\n' >> "${TOOLCHAIN_FILE}"
          sed -i '1i#define EM_AARCH64 183' ${QT_DIR}/qt_source/src/corelib/plugin/qelfparser_p.cpp

          ../qt_source/configure \
              -prefix $SYSROOT/usr/local/qt6 \
              -release \
              -platform linux-g++ \
              -device linux-webos-g++ \
              -device-option CROSS_COMPILE=$TOOLCHAIN_DIR/bin/arm-webos-linux-gnueabi- \
              -qt-host-path ${QT_TOOLCHAIN_DIR} \
              -no-dbus -no-gui -no-widgets -no-sql-sqlite -no-icu \
              -nomake tests -nomake examples \
              -- -DCMAKE_TOOLCHAIN_FILE=${TOOLCHAIN_FILE} \
              -DQt6CoreTools_DIR=$QT_TOOLCHAIN_DIR/lib/cmake/Qt6CoreTools \
              -DQt6WidgetsTools_DIR=$QT_TOOLCHAIN_DIR/lib/cmake/Qt6WidgetsTools \
              -DQt6GuiTools_DIR=$QT_TOOLCHAIN_DIR/lib/cmake/Qt6GuiTools

          echo "---------------- SUMMARY (ARM) -----------------"
          cat CMakeCache.txt | grep -E "CMAKE_CXX_COMPILER|CMAKE_TOOLCHAIN_FILE|CMAKE_INSTALL_PREFIX|CMAKE_SYSTEM_NAME" || true

          echo "----------------- BUILD (ARM) ------------------"
          cmake --build . --parallel
          cmake --install .

          echo "------------------ ARCH TEST -------------------"
          file $SYSROOT/usr/local/qt6/lib/libQt6Core.so*
          file $SYSROOT/usr/local/qt6/lib/libQt6Network.so*

          echo "========================== BUILDING QTSERIALPORT (CROSS) ============================"
          mkdir -p ${QT_DIR}

          git clone --branch v${QT_VERSION} https://github.com/qt/qtserialport.git ${QT_DIR}/qtserialport
          mkdir -p ${QT_DIR}/qtserialport/build
          cd ${QT_DIR}/qtserialport/build
          cmake -DCMAKE_BUILD_TYPE=Release \
                -DCMAKE_TOOLCHAIN_FILE="${TOOLCHAIN_FILE}" \
                -DQT_HOST_PATH="${QT_TOOLCHAIN_DIR}" \
                -DCMAKE_PREFIX_PATH="$SYSROOT/usr/local/qt6/lib/cmake" \
                -DCMAKE_INSTALL_PREFIX="$SYSROOT/usr/local/qt6" ..

          echo "---------------- SUMMARY (ARM) -----------------"
          cat CMakeCache.txt | grep -E "CMAKE_CXX_COMPILER|CMAKE_TOOLCHAIN_FILE|CMAKE_INSTALL_PREFIX|CMAKE_SYSTEM_NAME" || true

          echo "----------------- BUILD (ARM) ------------------"
          cmake --build . --parallel --verbose
          cmake --install .

          echo "------------------ ARCH TEST -------------------"
          file ${TOOLCHAIN_DIR}/arm-webos-linux-gnueabi/sysroot/usr/local/qt6/lib/libQt6SerialPort.so*


      - name: Build (webos arm)
        env:
          CCACHE_DIR: ${{ github.workspace }}/${{ env.CCACHE_CACHE_DIR }}
        run: |
          pushd ./${{ env.BUILD_DIR }}
          cmake .. \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_TOOLCHAIN_FILE=${TOOLCHAIN_FILE} \
            -DQt6_DIR=${TOOLCHAIN_DIR}/arm-webos-linux-gnueabi/sysroot/usr/local/qt6/lib/cmake/Qt6 \
            -DQt6HostInfo_DIR=$QT_TOOLCHAIN_DIR/lib/cmake/Qt6HostInfo \
            -DQt6CoreTools_DIR=$QT_TOOLCHAIN_DIR/lib/cmake/Qt6CoreTools \
            -DCMAKE_BUILD_TYPE=Release \
            -DPLATFORM=linux \
            -DENABLE_SPIDEV=ON \
            -DENABLE_FTDIDEV=ON \
            -DENABLE_V4L2=OFF \
            -DENABLE_X11=OFF \
            -DENABLE_PIPEWIRE=OFF \
            -DENABLE_SOUNDCAPLINUX=OFF \
            -DENABLE_CEC=OFF \
            -DENABLE_PROTOBUF=OFF \
            -DENABLE_FRAMEBUFFER=OFF \
            -DENABLE_POWER_MANAGEMENT=OFF
          make
          popd

      - name: Copy built binaries to release/
        run: |
          mkdir ./release
          cp -r ./${{ env.BUILD_DIR }}/bin/* ./release/
          find ./release

      - name: Copy dependencies to release/
        env:
          dependency_libs: libQt6Core.so.6 libQt6Network.so.6 libQt6SerialPort.so.6 libatomic.so.1 libcom_err.so.3 libcom_err.so.3 libcrypto.so.1.1 libcrypto.so.3 libftdi1.so.2 libgssapi_krb5.so.2 libjpeg.so.8 libk5crypto.so.3 libkrb5.so.3 libkrb5support.so.0 libpng16.so.16 libpcre2-16.so.0 libssl.so.1.1 libssl.so.3 libstdc++.so.6 libturbojpeg.so.0 libudev.so.1 libusb-1.0.so.0 libz.so.1
        run: |
          echo "------------------ FIND AND COPY DEPENDED LIBS --------------------"
          for lib in $dependency_libs; do
              found_file=$(find "${TOOLCHAIN_DIR}/arm-webos-linux-gnueabi/sysroot/" -name "$lib" -print -quit)

              if [[ -n "$found_file" ]]; then
                  echo "Copying: $lib"
                  cp -v "$found_file" ./release/
              else
                  echo "Warning: $lib not found, could not copy!"
              fi
          done

          echo "----------------- VERIFY LIBS NEEDED BY HYPERHDR ------------------"
          if file ./release/hyperhdr | grep -q ELF; then
              for lib in $(readelf -d ./release/hyperhdr 2>/dev/null | grep NEEDED | awk -F'[][]' '{print $2}'); do
                  if [ ! -f "./release/$lib" ]; then
                      echo "Warning: hyperhdr needs $lib but it is missing in ./release. If it's a sysroot's core system library, you can ignore it."
                  fi
              done
          fi

          mkdir -p ./release/tls
          cp $SYSROOT/usr/local/qt6/plugins/tls/libqopensslbackend.so ./release/tls/

          echo "-------------------- FINAL ./release CONTENT ----------------------"
          find ./release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: hyperhdr-build
          path: ${{ github.workspace }}/hyperhdr-repo/release/*
          if-no-files-found: error
